.search-box__suggestion-container {
    position: relative;
}

.search-box__suggestion {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-color: white;
    box-shadow: 0px 4px 11px 0px rgba(214,214,214,1);
}
