.search {
    display: flex;
    border: 1px solid gainsboro;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.search__input {
    border: 0;
    outline: 0;
    flex: 1;
}

.search__button {
    color: gainsboro;
    cursor: pointer;
    border: 0px none;
    outline: 0;
    padding: 0;
    background: none;
    display: inline-block;
    font-size: 1em;
    visibility: visible;
    margin-left: 8px;
}

.search__button--hidden {
    visibility: hidden;
}

/* ToDo: Use polyfill for focus-within hence it is not supported by IE */
.search:focus-within {
    border: 1px solid gray;
}

.search:focus-within .search__button {
    color: gray;
}
